header {
  background-color: slategray;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  gap: 10px;
}

body {
  height: calc(100vh-90px);
  background-color: darkslategray;
  gap: 10px;
}

 .temp-input{
    font-size: 35px;
 }
 .location{
    font-size: 25px;
 }
 .condition{
    font-size: 25px;
    display: flex;
    justify-content: center;
 }

 #my_location{
    font-size: 25px;
 }
.weather-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  margin: 30px;
  padding: 20px;
  gap: 20px;
}
